.image {
  max-width: 300px;
  min-width: 170px;
  width: 100%;
  max-height: 300px;
  min-height: 170px;
}
.row-flex,
.row-flex > div[class*="col-"] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
}

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex: 0;
}

.row-flex > div[class*="col-"] {
  margin: -0.2px; /* hack adjust for wrapping */
}
